{% extends "main.html" %} {% block content %}
<div class="container">
  <header class="page-header">
    <h1>Welcome to Earlham Chat Rooms</h1>
  </header>

  <div class="layout">
    <!-- Chat Rooms -->
    <div class="card">
      <h3>Available Chat Rooms</h3>
      {% for room in rooms %}
      <div class="room-link">
        <a href="{% url 'room' room.id %}" class="button-sidebar"
          >{{ room.name }}</a
        >
      </div>
      {% endfor %}
    </div>

    <!-- Ride Listings -->
    <div class="card">
      <h3>Ride Listings</h3>
      <a href="{% url 'listing' %}" class="button">Create Listing</a>
      {% for listing in listings %}
      <div class="listing">
        <p><strong>@{{ listing.user }}</strong>: {{ listing.ride_type }}</p>
        <p>{{ listing.text }}</p>
        <p class="date">{{ listing.created }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
