{% extends "main.html" %} {% block content %}
<div class="container">
  <header class="page-header">
    <h1>Create an Account</h1>
  </header>

  <form method="POST" class="form">
    {% csrf_token %} {% for field in form %}
    <div class="form-group">
      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
      {{ field }} {% if field.errors %}
      <div class="form-error">{{ field.errors }}</div>
      {% endif %}
    </div>
    {% endfor %}
    <button type="submit" class="button">Register</button>
    <p class="form-footer">
      <a href="{% url 'login' %}" class="button-link"
        >Already have an account? Login here</a
      >
    </p>
  </form>
</div>
{% endblock %}
